.main{
  min-height: 100vh;
}

.logo{
  width: 40px;
  height: 40px;
  background-color: var(--darkcharcoal);
  border-radius: 50%;
}

.tasksContainer{
  border-top: 1px solid var(--darkcharcoal);
}

.taskDiv{
  padding: calc(var(--spacing) * 5);
  border-bottom: 1px dashed var(--taupe);
  border-radius: 4px;
}

.taskDiv:hover{
  background-color: var(--lightblue);
  color: var(--darkcharcoal)
}

.formInput{
  appearance: none;
  display: block;
  padding: calc(var(--spacing) * 1) 0;
  width: 100%;
  background: transparent;
  border-bottom: 2px solid var(--dimgray);
 
}

.formInput:focus{
  border-bottom: 2px solid var(--charcoal);
  outline: none;
}

.calendarInput{
  border:none !important;
}

.primaryBtn{
  background-color: var(--lightblue);
  width: calc(var(--spacing) * 50);
  color: var(--lighttaupe);
}

.secondaryBtn{
  background-color: var(--dimgray);
  width: calc(var(--spacing) * 30);
  margin-right: calc(var(--spacing) * 2);
  color: var(--darkcharcoal);
}

.primaryBtn, .secondaryBtn{
  
  padding: calc(var(--spacing) * 1);
  border-radius: 8px;
  font-weight: 400;
}

.primaryBtn:hover, .secondaryBtn:hover{
  background-color: var(--blue);
  color: var(--lighttaupe);
  
}